---
import Layout from '@layouts/Layout.astro'
---

<Layout title='reglamento'>
	<a href='/'>Inicio</a>
	<div>
		<p>
			La Kings League InfoJobs la creamos entre todos. Y eso incluye la forma de jugar y el
			reglamento. Estas son las normas que los aficionados han decidido por votación popular a
			través de redes sociales:
		</p>
		<ul>
			<li>
				<span>#01</span> En caso de empate, el ganador de cada partido se decide con una tanda de penaltis
				desde medio campo.
			</li>
			<li><span>#02</span> En la Kings League jugamos con fuera de juego.</li>
			<li><span>#03</span> Los saques de banda se realizan con la mano.</li>
			<li><span>#04</span> Las sustituciones de jugadores durante el partido son ilimitadas.</li>
			<li>
				<span>#05</span> La tarjeta amarilla supone 2’ de exclusión. Las rojas, 5’ hasta que entre un
				sustituto.
			</li>
			<li>
				<span>#06</span> Para el saque inicial, el balón se sitúa en el centro del campo y los jugadores
				arrancan desde la línea de fondo.
			</li>
			<li><span>#07</span> Los dorsales van del 0 al 99.</li>
			<li><span>#08</span> Los partidos son de dos partes de 20’.</li>
			<li>
				<span>#09</span> Armas secretas: cada equipo dispone de una carta, escogida al azar, que le otorga
				una ventaja una sola vez por partido:
				<ul>
					<li><span>#Arma 1</span> Penalti a favor</li>
					<li><span>#Arma 2</span> Exclusión de un rival durante 2’</li>
					<li><span>#Arma 3</span> Gol doble durante 2’</li>
					<li><span>#Arma 4</span> Comodín</li>
					<li><span>#Arma 5</span> Robo de carta</li>
				</ul>
			</li>
		</ul>
	</div>
</Layout>
