---
import CardsPlayersTwelve from '@components/CardsPlayersTwelve.astro'
import Container from '@components/Container.astro'
import FloatingBoxContainer from '@components/FloatingBoxContainer.astro'
import SectionTitle from '@components/SectionTitle.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title='Jugador 12'>
	<SectionTitle title='Jugador 12' />

	<Container>
		<FloatingBoxContainer>
			<section class='mt-5 mb-20 w-9/12 mx-auto'>
				<p class='text-center text-black font-body text-2xl'>
					Los equipos de la <strong>Kings League InfoJobs</strong> tienen la posibilidad de invitar a
					un jugador cada jornada. Este es el histórico de todos los Jugadores 12.
				</p>
			</section>
			<CardsPlayersTwelve />
		</FloatingBoxContainer>
	</Container>
</Layout>
