---
import Layout from '@layouts/Layout.astro'
import Container from '@components/Container.astro'
import Sponsors from '@components/Sponsors.astro'
---

<Layout title='Estadísticas'>
	<main>
		<section class='bg-[#cd5500] py-20'>
			<Container>
				<h1 class="font-title font-bold text-6xl text-white">Estadísticas</h1>
			</Container>
		</section>
	</main>
	<Sponsors />
</Layout>
