---
import Container from '@components/Container.astro'
import SectionTitle from '@components/SectionTitle.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title='Contacto'>
	<SectionTitle title='Contacto' />

	<Container>
		<main
			class='max-w-5xl m-auto bg-white p-8 sm:p-20 sm:shadow-xl sm:rounded -mt-10 z-10 sm:mb-40 flex justify-center flex-col [&_p]:text-lg [&_p]:lg:text-xl [&_p]:text-gray-800'
		>
			<h2 class='font-title text-3xl mb-4'>Horario de apertura</h2>
			<p>
				<strong>Sólo se podrá acceder al recinto con acreditación o invitación.</strong> El horario de
				apertura al público a la Zona Deportiva Port de Barcelona será en los días de partido de 15h
				a 22h.
			</p>

			<div class='my-6 flex flex-col gap-12'>
				<section class='flex flex-col gap-6'>
					<h2 class='font-bold text-2xl text-orange-500'>Accesos</h2>
					<div class='border-2'>
						<iframe
							title='Mapa de Google Maps ubicado en el pabellón de la Zona deportiva Port de Barcelona.'
							class='block m-auto w-full'
							src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2996.3552011735433!2d2.1441944!3d41.322888899999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3b1655994fcebd8b!2zNDHCsDE5JzIyLjQiTiAywrAwOCczOS4xIkU!5e0!3m2!1ses!2sar!4v1673127000905!5m2!1ses!2sar'
							width='600'
							height='450'
							style='border:0;'
							allowfullscreen=''
							loading='lazy'
							referrerpolicy='no-referrer-when-downgrade'
						>
						</iframe>
					</div>

					<p>
						La entrada al pabellón de la Zona Deportiva Port de Barcelona será a través del Carrer
						de la Mar Roja, s/n, 08040 Barcelona, que da a la entrada principal del recinto.
					</p>

					<p>
						El acceso al entorno del recinto se realizará por la Porta 34 (Av. Ports d'Europa) de la
						Zona de Actividades Logísticas (ZAL).
					</p>

					<p>
						Deberá recogerse un ticket en el paso por la puerta que será sellado a la salida del
						recinto.
					</p>
				</section>

				<hr />

				<section class='flex flex-col gap-6'>
					<h2 class='font-title text-3xl mb-4'>Cómo llegar al pabellón</h2>

					<h3 class='font-bold text-2xl text-orange-500'>Transporte Público</h3>
					<p><strong>Metro:</strong> L10S ZAL | Riu Vell / Collblanc, parada ZAL | Riu Vell.</p>
					<p>
						<strong>Desde Plaça Catalunya:</strong> L1 (Catalunya) – L1 (Torrassa) – L10S (ZAL | Riu
						Vell.
					</p>
					<p>
						<strong>Desde Sants Estació:</strong> L5 (Sants Estació) – L5 (Collblanc) – L10S (ZAL | Riu
						Vell).
					</p>
					<p>
						Estos son los horarios del metro en Barcelona:
						<a
							class='text-orange-500'
							href='https://www.tmb.cat/es/barcelona/metro/-/lineametro/L10S'
							target='_blank'
							rel='noopener norefferer'>https://acortar.link/mGPZUD</a
						>
					</p>

					<h3 class='font-bold text-2xl text-orange-500'>Parking</h3>
					<p>
						Hay plazas limitadas de parking gratuitas tanto en el Carrer de la Mar Roja como en la
						Avinguda Ports d’Europa.
					</p>
				</section>
			</div>

			<div>
				<p>
					Para más información, escríbenos a: <a
						class='block text-orange-500'
						href='mailto:info@kingsleague.pro'
						target='_blank'
						rel='noopener norefferer'
					>
						info@kingsleague.pro
					</a>
				</p>
				<p>
					Para contacto con el departamento de prensa: <a
						class='block text-orange-500'
						href='mailto:media@kingsleague.pro'
						target='_blank'
						rel='noopener norefferer'>media@kingsleague.pro</a
					>
				</p>
			</div>
		</main>
	</Container>
</Layout>
