---
import Layout from '@layouts/Layout.astro'
import SectionTitle from '@components/SectionTitle.astro'
import Container from '@components/Container.astro'
import { getSchedule } from '@services/schedule'

const schedule = await getSchedule()
console.log(schedule)
---

<!-- Página del calendario -->
<Layout title='Calendario'>
	<SectionTitle title='Calendario' />
	<Container>
		<main class='max-w-4xl mx-auto my-4'>
			{
				schedule.map((day) => {
					return (
						<section>
							<h2 class='font-bold text-xl my-8'>{day.date}</h2>
						</section>
					)
				})
			}
		</main>
	</Container>
</Layout>
