---
import Layout from '@layouts/Layout.astro'
import SectionTitle from '@components/SectionTitle.astro'
import Container from '@components/Container.astro'
import { getSchedule } from '@services/schedule'
import ScheduleRow from '@components/ScheduleRow.astro'

const schedule = await getSchedule()
---

<!-- Página del calendario -->
<Layout title='Calendario'>
	<SectionTitle title='Calendario' />
	<Container>
		<main class='max-w-4xl mx-auto my-4 px-10'>
			{
				schedule.map((day) => {
					return (
						<section>
							<h2 class='font-bold text-xl md:text-2xl my-8'>{day.date}</h2>
							<table class='w-full table-fixed'>
								<tbody>
									{day.matches.map((match) => (
										<ScheduleRow
											local={match.teams[0]}
											visitant={match.teams[1]}
											score={match.score}
										/>
									))}
								</tbody>
							</table>
						</section>
					)
				})
			}
		</main>
	</Container>
</Layout>
