---
import Layout from '@layouts/Layout.astro';

---

<Layout>
<main class="max-w-prose [&>p]:pb-4 mx-auto pt-10 text-gray-800">
	<p>
		Kosmos Holding, titular de los derechos de propiedad de la Kings League, nos ha mandado un
		requerimiento de <strong>cese y desistimiento</strong> por el uso y explotaci贸n de sus marcas e informaci贸n.

		<p>
			<strong>He retirado el contenido de la web</strong> y he enviado un correo a Kosmos que nos permita mantener la
			API para que podamos seguir ofreciendo la informaci贸n de la Kings League para que los
			desarrolladores puedan seguir creando y practicando con ella de forma gratuita.
		</p>

		<p>
			Aunque el proyecto fue creado con fines did谩cticos, <strong>entiendo completamente la decisi贸n de la
			empresa y lo acato sin problemas ni acritud. </strong>
		</p>

		<p>
			El c贸digo del proyecto sigue estando disponible en GitHub, para que puedas aprender y
			practicar con 茅l pero no me hago responsable de su uso: <a
				class="text-blue-500"
				target='_blank'
				href='https://github.com/midudev/kings-league-project'
				>https://github.com/midudev/kings-league-project</a>
		</p>

		<em>midudev</em>
	</p>
</main>
</Layout>
<style>
	main {
		display: grid;
		place-content: center;
	}
</style>
