---
import Layout from '@layouts/Layout.astro';

---

<Layout>
<main class="max-w-prose [&>p]:pb-4 mx-auto pt-10 text-gray-800">
	<p>
		Kosmos Holding, titular de los derechos de propiedad de la Kings League, nos ha mandado un
		requerimiento de <strong>cese y desistimiento</strong> por el uso y explotación de sus marcas e información.

		<p>
			<strong>He retirado el contenido de la web</strong> y también hemos desactivado la API, que también nos han pedido dejar de mantenerla ya que ellos tienen una propia.
		</p>

		<p>
			Aunque el proyecto fue creado con fines didácticos, <strong>entiendo completamente la decisión de la
			empresa y lo acato sin problemas ni acritud. 🙂</strong>
		</p>

		<em>midudev</em>
	</p>
</main>
</Layout>
<style>
	main {
		display: grid;
		place-content: center;
	}
</style>
