---
import Leaderboard from '@components/Leaderboard.astro'
import Layout from '@layouts/Layout.astro'
import Container from '@components/Container.astro'
import Sponsors from '@components/Sponsors.astro'
import TeamsSelectorCards from '@components/TeamsSelectorCards.astro'
import UneteButton from '@components/Unete.astro'
---

<Layout title='Kings League Infojobs'>
	<main>
		<section class='bg-principal py-20'>
			<Container>
				<div class='grid grid-cols-8 gap-10 w-full px-10'>
					<div class='col-span-12 lg:col-span-4 xl:col-span-3'>
						<Leaderboard format='small' />
					</div>
					<div class='col-span-12 lg:col-span-4 xl:col-span-5'>
						<div class='grid grid-cols-6 gap-y-10 gap-x-5 w-full'>
							<!-- MVP -->

							<div class='col-span-6 bg-white 500 h-80 rounded-'>
								<!-- Card component here -->
							</div>

							<!-- Goal Scorer -->

							<div class='col-span-3 bg-white 500 h-80 rounded-'>
								<!-- Card component here -->
							</div>

							<!-- Assistant -->

							<div class='col-span-3 bg-white 500 h-80 rounded-'>
								<!-- Card component here -->
							</div>
						</div>
						<div class='my-5'>
							<TeamsSelectorCards small />
						</div>
					</div>
				</div>
			</Container>
			<UneteButton />
		</section>
	</main>
	<Sponsors />
</Layout>
