---
import Table from '@components/Table.astro';
import Layout from '@layouts/Layout.astro'
import Container from '@components/Container.astro'
---

<Layout title="Kings League Infojobs">
	<main>
		<section class="bg-[#e66000] py-20">
			<Container>
				<Table />
			</Container>
		</section>
	</main>
</Layout>
