---
import Table from '@components/Table.astro'
import Layout from '@layouts/Layout.astro'
import Container from '@components/Container.astro'
import Sponsors from '@components/Sponsors.astro'
import TeamsSelectorCards from '@components/TeamsSelectorCards.astro'
import UneteButton from '@components/Unete.astro'
---

<Layout title='Kings League Infojobs'>
	<main>
		<section class='bg-[#cd5500] py-20'>
			<Container>
				<div class='grid grid-cols-12 gap-x-5 gap-y-8 md:gap-x-10 w-full px-5'>
					<div class='col-span-12 sm:col-span-6 lg:col-span-5'>
						<Table />
					</div>
					<div class='col-span-12 sm:col-span-6 lg:col-span-7 h-100'>
						<div class='grid grid-cols-2 gap-8 w-full'>
							<!-- MVP -->
							<div class='col-span-2 bg-white 500 h-80 rounded-'></div>

							<!-- Goal Scorer -->
							<div class='col-span-2 lg:col-span-1 bg-white 500 h-80 rounded-'></div>

							<!-- Assistant -->
							<div class='col-span-2 lg:col-span-1 bg-white 500 h-80 rounded-'></div>
						</div>
						<div class='my-8 hidden lg:block'>
							<TeamsSelectorCards />
						</div>
					</div>
				</div>
				<div class='my-8 block px-5 lg:hidden'>
					<TeamsSelectorCards />
				</div>
			</Container>
			<UneteButton />
		</section>
	</main>
	<Sponsors />
</Layout>
