---
import Leaderboard from '@components/Leaderboard.astro'
import Layout from '@layouts/Layout.astro'
import Container from '@components/Container.astro'
import Sponsors from '@components/Sponsors.astro'
import TeamsSelectorCards from '@components/TeamsSelectorCards.astro'
import UneteButton from '@components/Unete.astro'
import PlayerPrizeCard from '@components/PlayerPrizeCard.astro'
---

<Layout title='Kings League Infojobs'>
	<main>
		<section class='bg-principal py-20'>
			<Container>
				<div class='grid grid-cols-8 gap-10 w-full px-10'>
					<div class='col-span-12 lg:col-span-4 xl:col-span-3'>
						<Leaderboard format='small' />
					</div>
					<div class='col-span-12 lg:col-span-4 xl:col-span-5'>
						<div class='grid grid-cols-6 gap-y-10 gap-x-5 w-full'>
							<div class='col-span-6'>
								<PlayerPrizeCard teamId='ultimate-mostoles' title='MVP' subtitle='Jornada 1' />
							</div>

							<div class='col-span-3'>
								<PlayerPrizeCard teamId='saiyans-fc' title='2' subtitle='Goles' />
							</div>

							<div class='col-span-3'>
								<PlayerPrizeCard teamId='los-troncos-fc' title='2' subtitle='Asistencias' />
							</div>
						</div>
						<div class='my-5'>
							<TeamsSelectorCards small />
						</div>
					</div>
				</div>
			</Container>
			<UneteButton />
		</section>
	</main>
	<Sponsors />
</Layout>
