---
const { title } = Astro.props
---

<button
	type='button'
	class='accordion bg-principal-900 flex items-center justify-between gap-4 p-5 w-full font-medium text-white hover:bg-[#b94d00] transition-colors rounded'
>
	<span class='font-semibold'>{title}</span>
	<span>
		<svg class="chevron-icon" fill='currentColor' viewBox='0 0 20 20' width="25">
			<path
				fill-rule='evenodd'
				d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z'
				clip-rule='evenodd'></path>
		</svg>
	</span>
</button>
<div class='accordion-content max-h-0 overflow-hidden transition-all'>
	<div
		class='p-5 bg-gray-100 rounded-b'
	>
		<p>
			<slot />
		</p>
	</div>
</div>
