---
import Container from './Container.astro'
import SocialNetworks from './SocialNetworks.astro'

const NAV_ENTRIES = [
	{
		name: 'Equipos',
		href: '/equipos'
	},
	{
		name: 'Jugador 12',
		href: '/jugador-12'
	},
	{
		name: 'Calendario',
		href: '/calendario'
	},
	{
		name: 'Estadísticas',
		href: '/estadisticas'
	},
	{
		name: 'Reglamento',
		href: '/reglamento'
	},
	{
		name: 'Faqs',
		href: '/faqs'
	},
	{
		name: 'Draft',
		href: '/draft'
	}
]
---

<footer class='page-footer text-white w-full p-8 bg-black relative overflow-hidden [&>div]:relative [&>div]:z-10'>
	<Container>
		<section
			class='flex flex-col justify-center lg:flex-row lg:justify-between gap-10 text-sm my-10'
		>
			<a href='/'>
				<img
					class='mx-auto lg:ml-0 aspect-[208/92]'
					src='/logos/kings-league-infojobs.svg'
					alt='logo de Kings League y Infojobs'
					loading='lazy'
					decoding='async'
					fetchpriority='low'
					width='208'
					height='92'
				/>
			</a>

			<nav
				class='flex flex-col lg:grid lg:grid-cols-3 gap-4 lg:gap-0 lg:justify-between lg:gap-x-16 lg:gap-y-4'
			>
				{
					NAV_ENTRIES.map((entry) => (
						<a href={entry.href} class='text-center lg:text-left hover:underline font-semibold'>
							{entry.name}
						</a>
					))
				}
			</nav>
		</section>

		<section
			class='flex flex-col lg:flex-row text-center lg:text-left gap-14 lg:gap-4 text-sm text-lig my-10'
		>
			<nav
				class='flex flex-col lg:flex-row gap-12 md:gap-4 justify-between w-full align-middle items-center'
			>
				<SocialNetworks theme='dark' />

				<nav class='flex flex-wrap gap-5 justify-center lg:justify-around'>
					<a class="font-semibold hover:underline" href="/contacto">Contacto</a>
					<a class="font-semibold hover:underline" href="#">Política de Privacidad</a>
					<a class="font-semibold hover:underline" href="#">Aviso Legal</a>
					<a class="font-semibold hover:underline" href="#">Política de Cookies</a>
				</nav>
			</nav>
		</section>
	</Container>
</footer>

<style>
	.page-footer::after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: url('/logos/kings-league-white.svg') no-repeat;
		background-size: 100%;
  	background-position: center right;
  	opacity: 0.12;
		pointer-events: none;
	}

	@media screen and (min-width: 992px) {
		.page-footer::after {
			background-size: 26%;
		}
	}
</style>
