---
import Container from './Container.astro'
import SocialNetworks from './SocialNetworks.astro'

const NAV_ENTRIES = [
	{
		name: 'Equipos',
		href: '/equipos'
	},
	{
		name: 'Jugador 12',
		href: '/jugador-12'
	},
	{
		name: 'Calendario',
		href: '/calendario'
	},
	{
		name: 'Estadísticas',
		href: '/estadisticas'
	},
	{
		name: 'Reglamento',
		href: '/reglamento'
	},
	{
		name: 'Faqs',
		href: '/faqs'
	},
	{
		name: 'Draft',
		href: '/draft'
	}
]
---

<footer class='text-white w-full p-8 bg-black'>
	<Container>
		<section
			class='flex flex-wrap justify-center text-center md:text-left lg:flex-row md:justify-between gap-14 lg:gap-4 text-sm text-lig my-10'
		>
			<img
				class='block w-52 aspect-[208/92]'
				src='/logos/kings-league-infojobs.svg'
				alt='logo de Kings League y Infojobs'
				loading='lazy'
				decoding='async'
				fetchpriority='low'
			/>

			<nav
				class='flex-col lg:grid lg:grid-cols-3 gap-4 lg:gap-0 lg:justify-between lg:gap-x-16 lg:gap-y-4'
			>
				{
					NAV_ENTRIES.map((entry) => (
						<a href={entry.href} class='flex items-center hover:underline'>
							{entry.name}
						</a>
					))
				}
			</nav>
		</section>

		<section
			class='flex flex-col lg:flex-row text-center lg:text-left gap-14 lg:gap-4 text-sm text-lig my-10'
		>
			<nav
				class='flex flex-col lg:flex-row gap-12 md:gap-4 justify-between w-full align-middle items-center'
			>
				<SocialNetworks theme='dark' />

				<nav class='flex gap-5 justify-center lg:justify-around'>
					<span>Contacto</span>
					<span>Política de Privacidad</span>
					<span>Aviso Legal</span>
					<span>Política de Cookies</span>
				</nav>
			</nav>
		</section>
	</Container>
</footer>
