---
import Logo from "./Logo.astro";

const response = await fetch('https://kings-league-api.midudev.workers.dev/teams')
const teams = await response.json()
---

<header class='flex items-center w-screen bg-gradient-to-b from-[#ff6900] via-[#ff6900] to-[#e66000] p-8 gap-x-8'>

	<Logo />
	
	<div class="flex flex-col h-full gap-4">
		<nav>
			<ul class="rounded-xl flex gap-x-4 [&>li>a:hover]:scale-150">
				{
					teams.map(({ id, image, name }) => (
						<li>
							<a class="group transition block" href={`/team/${id}`}>
								<img class='group-hover:drop-shadow-[0px_0px_8px_#fff] drop-shadow-[0px_0px_4px_#fff] h-12 w-12' src={image} alt={`Escudo del equipo ${name}`} />
							</a>
						</li>
					))
				}
			</ul>
		</nav>
	
		<nav>
			<ul class="flex text-white gap-x-4 font-semibold text-md [&>li>a]:opacity-80 [&>li>a:hover]:opacity-100 [&>li>a:hover]:underline">
				<li>
					<a href='/equipos'>Equipos</a>
				</li>
				<li>
					<a href='/calendario'>Calendario</a>
				</li>
				<li>
					<a href='/estadisticas'>Estadísticas</a>
				</li>
				<li>
					<a href='/contacto'>Contacto</a>
				</li>
				<li>
					<a href='/reglamento'>Reglamento</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
