<div class="md:absolute aspect-[9/11] w-16 lg:w-20 block">
	<a class="md:relative -top-[41px] lg:-top-[50px] hover:scale-125 transition" href='/'>
		<img alt="Kings League Infojobs Logo Oficial" class="m-auto" src='https://kingsleague.dev/logos/kings-league.svg' decoding="async" fetchpriority="high" />
	</a>
</div>
