---
import Container from './Container.astro';
---

<section class="bg-principal py-5">
	<Container>
		<h1 class="text-white text-5xl font-regular font-title text-center">
			{Astro.props.title}
		</h1>
	</Container>
</section>
