---
const { theme, mobileHidden } = Astro.props

const socialNetworks = [
	{
		name: 'Twitch',
		icon: '/logos/social/twitch.svg',
		href: 'https://www.twitch.tv/kingsleague'
	},
	{
		name: 'Twitter',
		icon: '/logos/social/twitter.svg',
		href: 'https://twitter.com/kingsleague'
	},
	{
		name: 'Tiktok',
		icon: '/logos/social/tiktok.svg',
		href: 'https://www.tiktok.com/@kingsleague'
	},
	{
		name: 'Instagram',
		icon: '/logos/social/instagram.svg',
		href: 'https://www.instagram.com/kingsleague'
	},
	{
		name: 'Youtube',
		icon: '/logos/social/youtube.svg',
		href: 'https://www.youtube.com/@KingsLeagueOfficial'
	}
]
---

<div class={`gap-4 justify-center ${mobileHidden ? 'hidden md:flex' : 'flex'}`}>
	{
		socialNetworks.map(({ href, icon, name }) => (
			<a
				href={href}
				target='_blank'
				rel='noopener norefferer'
				class={`md:w-6 md:h-6 lg:w-11 lg:h-11 flex items-center justify-center rounded-full transition-all duration-500 ${
					theme === 'dark' ? 'bg-white' : 'bg-transparent hover:bg-white'
				} [&>img]:hover:scale-125 [&>img]:hover:invert-0 [&>img]:hover:brightness-100`}
			>
				<img
					class={`w-5 transition-all duration-500 ${
						theme === 'dark' ? 'invert-0' : 'invert-[100]'
					} brightness-0 aspect-square`}
					src={icon}
					alt={`${name} Logo`}
					width="20"
					height="20"
					loading='lazy'
					decoding='async'
					fetchpriority='low'
				/>
			</a>
		))
	}
</div>
