---
import Container from './Container.astro'
---

<section class='text-sm text-white p-8 bg-gradient-to-tr from-black via-black to-principal border-white border-t-2 border-b-2'>
	<Container>
		<div class='flex justify-between flex-wrap gap-10'>
			<div>
				<div class='border-b border-[#F8AF3F] mb-10'>
					<span class='font-black'>Principal</span> partner
				</div>

				<a href="https://www.infojobs.net/" target="_blank">
					<img class="aspect-[120/32] mx-auto" src='/sponsors/logo-infojobs.svg' alt='Logo Principal Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
				</a>

			</div>

			<div>
				<div class='border-b border-[#F8AF3F] mb-10'>
					<span class='font-black'>Stadium</span> partner
				</div>

				<a href="https://www.cupraofficial.es/" target="_blank">
					<img class="aspect-[77/51] mx-auto" src='/sponsors/stadium-partner.svg' alt='Logo Stadium Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
				</a>
			</div>

			<div class='col-span-3'>
				<div class='border-b border-[#F8AF3F] mb-10'>
					<span class='font-black'>Main</span> partner
				</div>

				<div class='grid grid-cols-3 lg:grid-cols-8 gap-5 items-center'>
					<a href="https://grefusa.com/" target="_blank">
						<img class="aspect-[84/46] mx-auto" src='/sponsors/logo-grefusa.svg' alt='Logo Grefusa Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
					</a>
					<a href="https://spotify.com/" target="_blank">
						<img class="aspect-[92/28] mx-auto" src='/sponsors/logo-spotify.svg' alt='Logo Spotify Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
					</a>
					<a href="https://www.simyo.es/" target="_blank">
						<img class="aspect-[88/33] mx-auto" src='/sponsors/logo-simyo.svg' alt='Logo Smyo Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
					</a>
					<a href="https://adidas.com/" target="_blank">
						<img class="aspect-[59/37] mx-auto" src='/sponsors/logo-adidas.svg' alt='Logo Adidas Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
					</a>
					<a href="https://www.mahou.es/" target="_blank">
						<img class="aspect-[89/37] mx-auto" src='/sponsors/logo-mahou.svg' alt='Logo Mahau Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
					</a>
					<a href="https://mi.com" target="_blank">
						<img class="aspect-square" src='/sponsors/logo-mi.svg' alt='Logo MI Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
					</a>
					<a href="https://shukran.es/" target="_blank">
						<img class="aspect-[85/56] mx-auto" src='/sponsors/logo-shukran.svg' alt='Logo Shukran Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
					</a>
					<a href="https://www.imagin.com/" target="_blank">
						<img class="aspect-[63/56] mx-auto" src='/sponsors/logo-imagin.svg' alt='Logo Imagin Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
					</a>
					<a href="https://iqoption.com/" target="_blank">
						<img class="aspect-[89/33] mx-auto" src='/sponsors/logo-iqoption.svg' alt='Logo IQ Sponsor' loading="lazy" decoding="async" fetchpriority="low" />
					</a>
				</div>
			</div>

			<div>
				<div class='border-b border-[#F8AF3F] mb-10'>
					<span class='font-black'>Hosting</span> partner
				</div>
				<a href="https://www.portdebarcelona.cat/es/">
					<img class="mx-auto" src='/sponsors/hosting-partner.svg' alt='Logo Stadium Sponsor' loading="lazy" decoding="async" fetchpriority="low"  width="150" height="57" />
				</a>
			</div>
		</div>
	</Container>
</section>
