---
import { findLeaderboardBy } from '@services/leaderboard.js'

const { teamId } = Astro.props

const { rank, wins, losses, scoredGoals, concededGoals, yellowCards, redCards } =
	await findLeaderboardBy({ teamId })

const stats = [
	{
		title: 'Clasificación',
		value: rank
	},
	{
		title: 'Victorias',
		value: wins
	},
	{
		title: 'Derrotas',
		value: losses
	},
	{
		title: 'Goles a favor',
		value: scoredGoals
	},
	{
		title: 'Goles en contra',
		value: concededGoals
	},
	{
		title: 'Tarjetas Amarillas',
		value: yellowCards
	},
	{
		title: 'Tarjetas Rojas',
		value: redCards
	}
]
---

<section
	class='p-4 rounded-lg mt-5 grid grid-cols-3 gap-2 bg-gradient-to-tr from-[#202020c9] via-[#36363685] to-[#cd55002a] shadow-xl'
>
	{
		stats.map((stat) => (
			<div class='flex items-center mb-2 p-2 rounded-lg'>
				<strong class='text-4xl font-title text-white font-bold mr-2'>{stat.value}</strong>
				<h4 class='text-yellow-400 uppercase font-bold font-title'>{stat.title}</h4>
			</div>
		))
	}
</section>
