---
import { findLeaderboardBy } from '@services/leaderboard.js'

const { teamId } = Astro.props

const { rank, wins, losses, scoredGoals, concededGoals, yellowCards, redCards } =
	await findLeaderboardBy({ teamId })

const stats = [
	{
		title: 'Clasificación',
		value: rank
	},
	{
		title: 'Victorias',
		value: wins
	},
	{
		title: 'Derrotas',
		value: losses
	},
	{
		title: 'GF',
		value: scoredGoals
	},
	{
		title: 'GC',
		value: concededGoals
	},
	{
		title: 'T. Amarillas',
		value: yellowCards
	},
	{
		title: 'T. Rojas',
		value: redCards
	}
]
---

<div class="flex">
	<section class='bg-black border-yellow-400 border-2 p-8 rounded-lg grid grid-cols-4 gap-6'>
		{
			stats.map((stat) => (
				<div class='flex flex-col justify-between items-start'>
					<h4 class='text-yellow-400 uppercase font-bold font-title'>{stat.title}</h4>
					<strong class='text-4xl font-title text-white font-bold'>{stat.value}</strong>
				</div>
			))
		}
	</section>
</div>
