---
import { findLeaderboardBy } from '@services/leaderboard.js'

const { teamId } = Astro.props

const { rank, wins, losses, scoredGoals, concededGoals, yellowCards, redCards } =
	await findLeaderboardBy({ teamId })

const stats = [
	{
		title: 'Posición',
		value: rank
	},
	{
		title: 'Victorias',
		value: wins
	},
	{
		title: 'Derrotas',
		value: losses
	},
	{
		title: 'GF',
		value: scoredGoals
	},
	{
		title: 'GC',
		value: concededGoals
	},
	{
		title: 'Amarillas',
		value: yellowCards
	},
	{
		title: 'Rojas',
		value: redCards
	}
]
---

<div class='flex justify-center md:justify-start md:m-0 m-auto'>
	<section
		class='p-5 rounded-lg mt-5 grid grid-cols-3 gap-y-2 gap-x-2 md:gap-x-12 bg-gradient-to-tr from-[#202020c9] via-[#36363685] to-[#cd55002a] shadow-xl'
	>
		{
			stats.map((stat) => (
				<div
					class='flex
					flex-col
					justify-between
					items-start
					first:row-start-1
					first:row-end-4
					md:[&>strong]:first:text-[9em]
					[&>strong]:first:text-[5em]
					[&>strong]:first:leading-[1em]
					md:[&>h4]:first:text-[1.5em]
					first:justify-center
					first:items-center'
				>
					<h4 class='text-yellow-400 uppercase font-bold font-title sm:text-base text-xs'>{stat.title}</h4>
					<strong class='text-4xl font-title text-white font-bold'>{stat.value}</strong>
				</div>
			))
		}
	</section>
</div>
