---
import PlayerFifaBadge from './PlayerFifaBadge.astro'

const { players } = Astro.props
---

<section>
	<div class='flex flex-row flex-wrap gap-12'>
		{
			players.map((player) => <PlayerFifaBadge {...player} />)
		}
	</div>
</section>
