---
import Container from './Container.astro'

---

<Container>
	<section class="flex justify-center h-40">
		<a href="https://www.infojobs.net/barcelona/deportista-profesional-para-queens-league/of-i0177a442274e8384b5890ba28d5856" target="_blank" class="flex items-center justify-center rounded w-3/5 h-full bg-[#f7ab35] text-3xl text-white font-title uppercase transition hover:bg-black">
			Apúntate a la Queens League
		</a>
	</section>
</Container>
